[Unit]
Description=Joplin backup (PostgreSQL database)

[Service]
Type=oneshot
ExecStart=/bin/sh -c '/usr/bin/podman exec systemd-joplin-db pg_dump -U joplin joplin > /var/backups/joplin/joplin.sql'
